workflows/process-email-and-respond.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "cd1e62a8-4db4-401f-ac14-bfa978d1c5f4",
      "name": "Gmail Trigger2",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [-2672, 2400],
      "typeVersion": 1.2,
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Gmail Trigger2').item.json.text }}{{ $('Gmail Trigger2').item.json.headers.subject }}",
        "categories": {
          "categories": [
            {
              "category": "Questions",
              "description": "Use this category when the email is asking for information about our company, products, processes, pricing, timelines, legal terms or any other general inquiry that expects a factual explanation or guidance."
            },
            {
              "category": "Project Update",
              "description": "Choose this category when the sender is notifying us about progress or changes: signing the agreement, submitting or revising scripts, updating requirements, sharing evaluation results, or any status report that moves an ongoing project forward"
            },
            {
              "category": "Feedback",
              "description": "Select this category when the email contains compliments, complaints, suggestions, or any qualitative feedback about our service, product, communication or overall experience"
            }
          ]
        },
        "options": {}
      },
      "id": "56f7ba9a-0637-47d4-b163-6b57d3906f42",
      "name": "Text Classifier2",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [-2224, 2384],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "69f86b55-5958-4b14-9b9c-6e89c161c4a2",
      "name": "Google Gemini Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [-2224, 2656],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "iHN5rWJwPBDncTfP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger2').item.json.id }}",
        "message": "Got it. Question",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1888, 2256],
      "id": "90f3c989-18c3-463c-bfb1-a943f1fc4e6b",
      "name": "Reply to a message6",
      "webhookId": "59a8dc94-2f7e-4838-a98a-d781dbe447ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger2').item.json.id }}",
        "message": "Got it.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1888, 2400],
      "id": "b9e83044-9711-4473-a2b2-e8a5deb87894",
      "name": "Reply to a message7",
      "webhookId": "59a8dc94-2f7e-4838-a98a-d781dbe447ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger2').item.json.id }}",
        "message": "Got it.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-1888, 2544],
      "id": "35582aef-a4ec-4ee7-b560-02ea19949c2e",
      "name": "Reply to a message8",
      "webhookId": "59a8dc94-2f7e-4838-a98a-d781dbe447ad",
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.threadId }}"
      },
      "id": "d8e35f02-ab51-423d-99d6-14fe823e52de",
      "name": "Mark as Read2",
      "type": "n8n-nodes-base.gmail",
      "position": [-2448, 2400],
      "webhookId": "a5bea8d3-719e-4b2b-a43d-4c6248796267",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger1').all()[0].json.id }}\n",
        "labelIds": ["CATEGORY_UPDATES"]
      },
      "id": "96ddcd59-89f8-49ea-b7f5-6d8bfe81067c",
      "name": "Apply Label6",
      "type": "n8n-nodes-base.gmail",
      "position": [-1648, 2608],
      "webhookId": "c3a2fc4e-d90c-463a-a356-db530e1b91b0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.threadId }}",
        "labelIds": ["IMPORTANT"]
      },
      "id": "4b16e184-4dda-4b56-b20e-ae78eb1101ff",
      "name": "Apply Label7",
      "type": "n8n-nodes-base.gmail",
      "position": [-1648, 2240],
      "webhookId": "c3a2fc4e-d90c-463a-a356-db530e1b91b0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger1').all()[0].json.id }}\n",
        "labelIds": ["CATEGORY_UPDATES"]
      },
      "id": "c14a628b-7bde-4c3b-86c7-d6e3981f237e",
      "name": "Apply Label8",
      "type": "n8n-nodes-base.gmail",
      "position": [-1648, 2416],
      "webhookId": "c3a2fc4e-d90c-463a-a356-db530e1b91b0",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "lZwa55vD2rsd6B8t",
          "name": "Gmail "
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger2": {
      "main": [
        [
          {
            "node": "Mark as Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier2": {
      "main": [
        [
          {
            "node": "Reply to a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to a message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message6": {
      "main": [
        [
          {
            "node": "Apply Label7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message7": {
      "main": [
        [
          {
            "node": "Apply Label8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message8": {
      "main": [
        [
          {
            "node": "Apply Label6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Read2": {
      "main": [
        [
          {
            "node": "Text Classifier2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81fdba9a673ea1f7e9685336a273b54f26ffddb2b9dfe681f12ff181eba6b0ee"
  }
}
